/*顶部*/
.main-nav{
  width: 100%;
  background: #fff;
}
.top-header{
  width: 1200px;
  height: 70px;
  margin: 0 auto;
}

.top-header .company-name{
  float: left;
  height: 70px;
}
.h-right{
  float: right;
  height: 70px;
  width: 750px;
}
.e_meal{
  background: url(../../images/xmt/i_ema.png) no-repeat 5px;
  padding-left: 26px;
  margin:0 10px;
}
.personal-center{
  float: left;
  margin-top: 30px;
}
.user-quit{
  float: left;
  width: 300px;
  margin-top: 30px;
}
.help-conter{
  float: left;
  margin-top: 30px;
  margin-right: 10px;
}
.sevice-m{
  width: 270px;
  height: 40px;
  background: url(../../images/xmt/service-mm.png) no-repeat;
  line-height: 30px;
  float: right;
  margin-right: 52px;
}
/*导航条*/
.nav{
  width: 100%;
  height: 47px;
  margin: 0 auto;
  -webkit-box-shadow: 0 3px 5px #ddd;
  -moz-box-shadow: 0 3px 5px #ddd;
  box-shadow: 0 3px 5px #ddd;
  background: #F2F2F2;
}
.nav_menu{
  display: flex;
  justify-content: space-between;
  width: 1160px;
  height: 47px;
  margin: 0 auto;
}
.nav_menu ul{
  float: left;
  margin: -18px auto 0 auto;

}
.nav_menu ul li{
  float: left;
  height: 46px;
  margin-right: 60px;
}
/*.nav_menu ul li a{
  display: block;
  margin-bottom: 5px;
}*/
.onx {
  border-bottom: 2px solid #fdb14e;
}
/*资源管理*/
.Resources{
  width:100%;
  height: 40px;
  line-height: 40px;
  background-color: #E7E7E7;
}
.Resources ul{
  width: 1200px;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
}
.Resources ul li{
  float: left;
  padding-left: 40px;
  margin-right: 15px;
}

.Resources ul li a:hover{
  text-decoration: none;
  color: #cf3a19;
}
/*派单列表*/
/*.active{
  background-color: #ec971f;
}*/
.body{
  margin: 35px auto 60px auto;
 /* padding: 15px;
  background-color: #fff;*/
}
.user-center .header-tab a.active {
  color: #ff9a00;
  border-bottom: solid 2px #fdb14e;
}
.container{
  padding: 15px;
  background-color: #fff;
  width: 1200px;
  margin: 0 auto;
}
.user-center .header-tab a{
  color: #666;
  font-size: 17px;
  padding: 10px;
  margin-bottom: -2px;
  cursor: pointer;
}
.header-tab{
  display: inline-block;
}
.header_tab_rt{
  display: inline-block;
  margin-left: 10px;
}
.header_tab_rt span{
  display: inline-block;
  padding: 5px 8px;
  font-size: 12px;
  color: #666;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #FCFBFA;
  cursor: pointer;
  margin-right: 5px;
}
.header_tab_rt span:hover{
  background: #f2f2f2;
}
.btn4{
  display: flex;

  justify-content: center;
  width: 1200px;
  padding-bottom: 20px;
}
.table{
  width: 100%;
  margin-bottom: 20px;
  font-size: 14px;
  color: #000;
}
.table>tbody>tr:first-child{
  background-color: #F9F9F9;
  border-bottom: 1px solid #ddd;
}
.table>tbody>tr>th,.table>tbody>tr>td{
  height: 38px;
  width: 170px;color: #A09E9F;
  padding: 8px;
  vertical-align: top;
  border-top: 1px solid #ddd;
  text-align: left;
}
.table>tbody>tr>td{
  border-bottom: 1px solid #ddd;
}
.m_bottom {
  width: 1200px;
  overflow: hidden;
  margin: 10px auto;
}

.m_stage {
  float: right;
  width: 974px;
  margin-top: 10px;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  color: #fff;
  background-color: #ffcc28;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  margin-left: 30px;
  cursor: pointer;
  border:none;
  border-radius: 4px;
}