<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adverOifrMapper">
<!-- 保存数据 -->
<insert id="save" parameterType="pd">
	insert into tb_advertise_otherinfor(
		id,
		source_type,
		source_size,
		file_size,
		word_size,
		media_id
	)
	values(
		#{id},
		#{source_type},
		#{source_size},
		#{file_size},
		#{word_size},
		#{media_id}
	)
	
</insert>

<!-- 查询数据 -->



<!-- 修改数据 -->
<update id="update" parameterType="pd">
	UPDATE tb_advertise_otherinfor tao
	SET
	tao.source_type = #{source_type},
	tao.source_size = #{source_size},
	tao.file_size = #{file_size},
	tao.word_size = #{word_size}
	WHERE id = #{id}
</update>




</mapper>
