<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ZhiBoMapper">
<select id="getById" parameterType="pd" resultType="pd">
SELECT
	tv.videoPlatform_id,
	tb.`name`,
	tv.platformName,
	tb.fansNum,
	tv.sex,
	tt.price,
	tt.name sname

FROM
	tb_video_platform tv
LEFT JOIN tb_base_information tb ON tv.videoPlatform_id = tb.f_id
LEFT JOIN tb_type_price tt ON tv.videoPlatform_id = tt.f_id
where tt.f_id=#{tid} and tt.name=#{name}
</select>
<select id="getByid" parameterType="pd" resultType="pd">
	SELECT
	tv.videoPlatform_id,
	tb.`name`,
	tv.platformName,
	tb.fansNum,
	tv.sex,
	tt.price,
	tt.name sname
FROM
	tb_video_platform tv
LEFT JOIN tb_base_information tb ON tv.videoPlatform_id = tb.f_id
LEFT JOIN tb_type_price tt ON tv.videoPlatform_id = tt.f_id
where tt.name=#{name}
</select>

<select id="selectById" parameterType="pd" resultType="pd">
	SELECT
	tv.videoPlatform_id,
	tb.`name`,
	tv.platformName,
	tb.fansNum,
	tv.sex,
	tt.price,
	tt.name sname
FROM
	tb_video_platform tv
LEFT JOIN tb_base_information tb ON tv.videoPlatform_id = tb.f_id
LEFT JOIN tb_type_price tt ON tv.videoPlatform_id = tt.f_id
where tt.f_id=#{videoPlatform_id} and tt.name=#{type_name}
</select>
<insert id="savezhiboOrder" parameterType="pd">
INSERT INTO tb_anchororder(
	anchorOrder_id,
	anchorOrder_title,
	anchorOrder_content,
	anchorOrder_location,
	advertiser_id,
	newsOrder_edtime,
	newsOrder_optime,
	order_time,
	type_name
)
VALUES
	(
		#{anchorOrder_id},
		#{anchorOrder_title},
		#{anchorOrder_content},
		#{anchorOrder_location},
		#{advertiser_id},
		#{newsOrder_edtime},
		#{newsOrder_optime},
		#{order_time},
		#{type_name}
	)

</insert>

<insert id="saveresource" parameterType="pd">
INSERT INTO tb_order_resource(
		id,
		order_number,
		order_state,
		resource_id,
		resource_type
	)values(
		#{id},
		#{order_number},
		#{order_state},
		#{resource_id},
		#{resource_type}
	)
</insert>
</mapper>